@model Blog.Entity.Blog.Posts

@{ string Culture = Request.Cookies["culture"].Value; }

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 text-center">
            @if (Culture == "tr")
            {<h1>@Model.TitleTUR</h1>}
        else
        {<h1>@Model.TitleENG</h1>}
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @if (Culture == "tr")
            {@Html.Raw(Model.BodyTUR)}
        else
        {@Html.Raw(Model.BodyENG)}
        </div>
        </div>
</div>
</article>