@model Blog.Entity.Helpers.Page

@{
    var page = Model.CurrentPage == 0 ? 1 : Model.CurrentPage;
}


@if (Model.TotalItems != 0 && Model.TotalPages > 1)
{
    <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" onclick="Filter.Page(@(Model.TotalPages == page ? Model.TotalPages : (page + 1)))">@Lang.Global.OlderPosts →</a>
    </div>
}

